.icon-user-link-1 {
  background-image: url(~@/assets/images/icons/icon-router-link-001.png);
}

.icon-user-link-2 {
  background-image: url(~@/assets/images/icons/icon-router-link-002.png);
}

.icon-user-link-3 {
  background-image: url(~@/assets/images/icons/icon-router-link-003.png);
}

.icon-user-link-4 {
  background-image: url(~@/assets/images/icons/icon-router-link-004.png);
}

.icon-user-link-5 {
  background-image: url(~@/assets/images/icons/icon-router-link-005.png);
}

.user-wrap {
  padding: 30px;

  .user-info {
    display: flex;
    padding: 48px 0 60px 5px;
  }

  .user-avatar {
    width: 68px;
    height: 68px;
    border-radius: 100%;
    border: 6px solid #2f343a;
  }

  .user-detail {
    flex: 1;
    padding-left: 15px;
  }

  .user-email {
    color: #909090;
    line-height: 43px;
    font-size: 18px;
  }

  .user-number {
    display: inline-block;
    height: 27px;
    padding: 0 17px;
    background-color: #10a0f2;
    border-radius: 100px;
    line-height: 27px;
    color: #fff;
    font-size: 14px;
  }

  .logout-btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
    margin: 0 auto;
    width: 165px;
    height: 48px;
    background-color: #2d3339;
    border-radius: 100px;
    text-align: center;
    line-height: 48px;
    color: #fff;
    font-size: 16px;
    border: none;
    @include webkit(transition, all 0.3s ease 0s);

    &:hover {
      background-color: #10a0f2;
    }
  }

  .sider-list {
    margin: 0 -30px;

    .icon {
      width: 30px;
      height: 30px;
      margin: 0 16px -10px 0px;
    }
  }
}
